.u-container {
  width: 100%;
  max-width: 500px;
  margin: 100px auto 0 auto;
}
.Tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 2px rgba(0,0,0,.1);
}
.Tile:hover .Tile-heart_inactive {
  opacity: 1;
}
.Tile-add {
  position: absolute;
  z-index: 10;
  top: -75px;
  left: -75px;
  width: 150px;
  height: 150px;
  border: 10px solid #ffffff;
  border-radius: 100%;
  background-color: #f5841f;
}
.Tile-plusIcon {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 50px;
  height: 50px;
  background: url('../images/icon-plus.svg') center center;
  background-size: 50px 50px;
}
.Tile-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.Tile-thumb {
  position: relative;
}
.Tile-heart {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  padding: 10px;
  transition: opacity .2s ease-in-out;
  opacity: 0;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.Tile-heart_inactive {
  background-color: #ffffff;
}
.Tile-heart_inactive .Tile-heartIcon {
  background-image: url('../images/icon-heart-outline.svg');
}
.Tile-heart_active .Tile-heartIcon {
  background-image: url('../images/icon-heart.svg');
}
.Tile-heart_active .Tile-heartRing {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  animation: pulse .7s ease-in-out;
  opacity: 0;
  border: 5px solid #e8262e;
  border-radius: 100%;
}
.Tile-heart_active {
  animation: beat .7s ease-in-out;
  opacity: 1;
  background-color: #e8262e;
}
.Tile-heartIcon {
  position: relative;
  top: 5px; /* Vertically align */
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-position: center center;
  background-size: 20px 20px;
}
.Tile-image {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.Tile-title {
  position: relative;
  padding: 15px 0 20px 0;
}
.Tile-titleText {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  color: #6cc18d;
  border-bottom: 3px solid #6cc18d;
}
.Tile-time {
  position: absolute;
  top: 15px;
  right: 0;
}
.Tile-timeIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../images/icon-clock.svg') center center;
  background-size: 20px 20px;
}
.Tile-timeText {
  position: relative;
  top: -5px; /* Top align */
  margin-right: 10px;
  color: #919191;
}
.Tile-footer {
  position: relative;
  margin: 0 -15px -15px -15px; /* Cancel out Tile padding */
  padding: 10px 15px;
  color: #999999;
  border-top: 1px solid #eeeeee;
}
.Tile-footer:hover {
  background-color: #fafafa;
}
.Tile-footer:hover .Tile-guidedDancing {
  transform: translateX(100px);
  background-color: #fafafa;
}
.Tile-footer:hover .Tile-shoeIcon {
  animation: .2s ease-in-out .5s jump;
}
.Tile-guidedDancing {
  position: relative;
  z-index: 10;
  transition: transform .2s ease-in-out .5s;
  background-color: #ffffff;
}
.Tile-viewMore {
  position: absolute;
  top: 18px; /* Visually align */
  left: 15px;
}
.Tile-shoeIcon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url('../images/icon-shoe-dancing.svg') center center;
  background-size: 40px 40px;
}
.Tile-guidedDancingText {
  position: relative;
  top: -15px; /* Visually align */
  margin-left: 5px;
}

@keyframes jump {
  80% {
    transform: scale(1.25);
  }
}
@keyframes beat {
  50% {
    transform: scale(1.1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(.1);
  }
  50% {
    opacity: .8;
  }
  100% {
    transform: scale(2);
  }
}
